<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="logo" style="width: 100px;">
        <img width="100%" src="https://perpetual-anteater-22d.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe17d769d-5687-4804-b703-a477a4ebbca2%2Fbdfb9d49-3972-4d83-972d-cc7502dc4319%2Flogo.png?table=block&id=3eb3817b-448c-4c0d-b806-fe8e13836527&spaceId=e17d769d-5687-4804-b703-a477a4ebbca2&width=1200&userId=&cache=v2" />
    </div>
    <div class="message" style="font-size: 16px;" >
        <p style="font-size: 18px;">Notice of successful account creation with <b>ShoeShop : </b></p>
        <p>Username: {username}</p>
        <p>Name: {name}</p>
        <p>Phone Number: {phone}</p>
        <p>Address: {address}</p>
    </div>
</body>
</html>